################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SampleService/MyServiceLibrary/obj/Debug
/SampleService/MyServiceLibrary.Tests/bin/Debug
/SampleService/MyServiceLibrary.Tests/obj/Debug
/SampleService/ServiceApplication/bin/Debug
/SampleService/ServiceApplication/obj/Debug
/SampleService/MyServiceLibrary/bin/Debug
/Day2/Delegates/bin/Debug
/Day2/Delegates/obj/Debug
/Day2/Delegates.Tests/bin/Debug
/Day2/Delegates.Tests/obj/Debug
/Day2/packages
/Day2/StructsApplication/bin/Debug
/Day2/StructsApplication/obj/Debug
/Day2/ValueAndReferenceTypes/bin/Debug
/Day2/ValueAndReferenceTypes/obj/Debug
/Day2/ValueAndReferenceTypes.Tests/bin/Debug
/Day2/ValueAndReferenceTypes.Tests/obj/Debug
/CustomHandlersModulsWeb/CustomHandlersModulsWeb/bin
/CustomHandlersModulsWeb/CustomHandlersModulsWeb/obj
/HelloService/ConsoleApplicationClient/bin/Debug
/HelloService/ConsoleApplicationClient/obj/Debug
/HelloService/HelloService/bin/Debug
/HelloService/HelloService/obj/Debug
/CustomHandlersModulsWeb/packages
/SampleService/TestResults
/SampleService/NetworkServer/bin/Debug
/SampleService/NetworkServer/obj/Debug
/SampleService/NetworkClient/bin/Debug
/SampleService/NetworkClient/obj/Debug
/SampleService/packages
/SampleService/WcfServiceHost/bin/Debug
/SampleService/WcfServiceHost/obj/Debug
