@{
    Layout = null;
}

<!DOCTYPE html>
<html ng-app="TodoApp">
<head>
    <meta charset="utf-8" />
    <title>Todo list</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/index.css" />
</head>
<body ng-controller="TodoController">
    <div class="container main">
        <h2>Add todo item</h2>
        <form class="form-horizontal">

            <div class="form-group">
                <div class="col-md-5">
                    <input type="text" ng-model="title" placeholder="Title" class="form-control input-md">
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-5">
                    <textarea ng-model="body" placeholder="Description" class="form-control input-md"></textarea>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-5">
                    <input type="text" ng-model="author" placeholder="Author" class="form-control input-md">
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-4">
                    <button ng-click="addItem()" id="submitTask" name="submitTask" class="btn btn-success">Add</button>
                </div>
            </div>

        </form>

        <div class="container">
            <h2>Todo list:</h2>
            <div class="col-md-3 main" ng-repeat="item in items track by $index">
                <p>Title: {{item.Title}}</p>
                <p>Author: {{item.Author}}</p>
                <p>Description: {{item.Body}}</p>
                <p>Created date: {{item.Created}}</p>

                <button class="btn btn-danger" ng-click="removeItem($index, item)">Remove</button>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="~/Scripts/todoService.js"></script>
    <script src="~/Scripts/index.js"></script>
</body>
</html>
