<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Replication" type="MyServiceLibrary.Configurations.CustomServiceSections.ServicesSection, MyServiceLibrary"/>
  </configSections>

  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  
  <Replication>
    <Services>

      <Service isMaster="false" type="MyServiceLibrary.Replication.SlaveService, MyServiceLibrary" domainName="SlaveDomain1">

        <Repository type="MyServiceLibrary.Repositories.UserMemoryRepository, MyServiceLibrary"/>

        <DataSpreaders>
          <DataSpreader name="receiver1" type="MyServiceLibrary.Replication.DataSpreader.NetworkDataReceiver, MyServiceLibrary">
            <EndPoint ip="127.0.0.1" port="8081"/>
          </DataSpreader>

          <DataSpreader name="receiver2" type="MyServiceLibrary.Replication.DataSpreader.NetworkDataReceiver, MyServiceLibrary">
            <EndPoint ip="127.0.0.1" port="8083"/>
          </DataSpreader>
        </DataSpreaders>

      </Service>

      <Service isMaster="false" type="MyServiceLibrary.Replication.SlaveService, MyServiceLibrary" domainName="SlaveDomain2">

        <Repository type="MyServiceLibrary.Repositories.UserMemoryRepository, MyServiceLibrary"/>

        <DataSpreaders>
          <DataSpreader name="receiver3" type="MyServiceLibrary.Replication.DataSpreader.NetworkDataReceiver, MyServiceLibrary">
            <EndPoint ip="127.0.0.1" port="8082"/>
          </DataSpreader>
        </DataSpreaders>

      </Service>

    </Services>
  </Replication>

  <system.diagnostics>
    <switches>
      <add name="logEnabled" value="1"/>
    </switches>
  </system.diagnostics>
</configuration>